/*重置页面样式*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%}
a{color:#172c45;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

/*组件公共样式*/
.box-header{
  padding: 5px 0;
  height: 46px;
  border-bottom: 1px dotted #e2e2e2;
  color: #6E747B;
  background-color: transparent;
  margin-bottom: 20px;
  position: relative;
  border-radius: 0;
  overflow: hidden;
}
.panel-title{
  margin-top: 5px;
  margin-left:5px;
  font-weight: bolder;
  font-size: 16px;
  font-family: "微软雅黑 Light", "微软雅黑","Open Sans", Arial, sans-serif;
  color: #444;
  padding-left: 5px;
  float: left;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}
.panel-title i{
  display: inline-block;
  width:4px;
  background: #000;
  height:24px;
}
.panel-title span{
  padding-left: 15px;
  margin-left: 0 !important;
  font-size: 16px !important;
  line-height: 35px;
}
.panel-title-right{
  margin-right: 5px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
}

/*收案信息*/
.el-row{
  text-align: center;
}
.con-zuj{
  padding: 0 20px;
}
.el-date-editor.el-input{
  width: 100%;
}
.el-select{
  display: block;
}
.el-form-item__content{
  text-align: left;
}
.el-row{
  text-align: left;
}
.el-radio.is-bordered+.el-radio.is-bordered{
  margin-left:60px;
}
.btn-rights{
  text-align: right;
}
.el-form-item__error{
  display: none;
}
.el-form-item {
  margin-bottom: 6px;
}
